{% extends 'base.html' %}
{% block title %}{{ guitarra.nombre }}{% endblock %}
{% block content %}
<div class="container mx-auto">
    <div class="grid mb-20 grid-cols-1 lg:grid-cols-2 p-4 gap-0">
        <div class="flex-auto flex-row mx-4 my-auto ">
            {% include 'components/galeria.html' %}
            <div class="flex">
                    <div id="expandable" class="overflow-hidden transition-all duration-300 max-w-0">
                        {% include 'components/compartir.html' %}
                    </div>
                    <button
                        id="toggleButton"
                        class="max-w-300 flex my-2 justify-between items-center bg-black text-white px-2 py-2 focus:outline-none focus:ring-0 focus:ring-black focus:border-transparent transition duration-150 ease-in-out"
                        <span id="mensajeBoton">Compartir</span>
                    </button>
            </div>
            {% include 'components/detalles.html' %}
        </div>

        <div class="">
        <h2 class="text-2xl font-bold p-6">Especificaciones</h2>
            {% include 'components/especificaciones.html' %}
        </div>
    </div>
</div>

<script>
function setMainThumbnail(imageUrl, index) {
    const mainImage = document.getElementById('mainImage');
    mainImage.src = imageUrl;
    mainImage.alt = `Main Product Image ${index}`;

    const thumbnails = document.querySelectorAll('.thumbnail');
    thumbnails.forEach((thumb, i) => {
        if (i + 1 === index) {
            thumb.classList.add('border-2', 'border-black');
            thumb.classList.remove('border', 'border-gray-300');
        } else {
            thumb.classList.remove('border-2', 'border-black');
            thumb.classList.add('border', 'border-gray-300');
        }
    });
}

    function shareOnFacebook() {
        window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href), '_blank');
    }

    function shareOnTwitter() {
        window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href), '_blank');
    }

    function shareOnWhatsApp() {
        window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(window.location.href), '_blank');
    }

    function copyLink() {
        navigator.clipboard.writeText(window.location.href).then(function() {
            alert('Enlace copiado al portapapeles');
        }, function(err) {
            console.error('No se pudo copiar el texto: ', err);
        });
    }
    function toggleExpand() {
        const expandable = document.getElementById('expandable');

        if (expandable.style.maxWidth) {
            expandable.style.maxWidth = null;
        } else {
            expandable.style.maxWidth = 500 + "px";
        }
    }


    document.getElementById('toggleButton').addEventListener('click', toggleExpand);
</script>
{% endblock %}

