{% load static %}
<div class="container mx-auto flex-auto my-20">
    <div id="lista-gamas"
         class="grid grid-cols-1 lg:grid-rows-1 border-1 border-black-400 lg:grid-cols-3 gap-3">
        <a href="{% url 'products' %}?price_min=4500&price_max=6499"
            class="block hover:shadow-lg transition duration-300 ease-in-out mx-1">
            <div class="rounded-lg overflow-hidden flex flex-col md:flex-row border border-black-400">
                <div class="md:w-1/3">
                    <img src="{% static 'gamas/GamaBaja.jpeg' %}"
                         alt="Imagen de bajo quinto gama baja"
                         class="w-full h-48 md:h-full object-cover">
                </div>
                <div class="md:w-2/3 p-4 flex flex-col justify-between">
                    <div>
                        <h3 class="text-lg font-semibold mb-2">Gama baja</h3>
                        <p class="text-sm text-gray-500 mb-2">Perfecto para personas que quieren comenzar a tocar el bajo quinto</p>
                        <p class="text-gray-600 mb-2">$4,500</p>
                    </div>
                </div>
           </div>
        </a>

        <a href="{% url 'products' %}?price_min=6500&price_max=9000"
            class="block hover:shadow-lg transition duration-300 ease-in-out mx-1">
            <div class="rounded-lg overflow-hidden flex flex-col md:flex-row border border-black-400">
                <div class="md:w-1/3">
                    <img src="{% static 'gamas/GamaMedia.jpeg' %}"
                         alt="Imagen de bajo quinto gama media"
                         class="w-full h-48 md:h-full object-cover">
                </div>
                <div class="md:w-2/3 p-4 flex flex-col justify-between">
                    <div>
                        <h3 class="text-lg font-semibold mb-2">Gama media</h3>
                        <p class="text-sm text-gray-500 mb-2">Ideal para musicos mas avanzados</p>
                        <p class="text-gray-600 mb-2">$6,500</p>
                    </div>
                </div>
           </div>
        </a>

        <a href="{% url 'products' %}?price_min=9000&price_max=70000"
            class="block hover:shadow-lg transition duration-300 ease-in-out mx-1">
            <div class="rounded-lg overflow-hidden flex flex-col md:flex-row border border-black-400">
                <div class="md:w-1/3">
                    <img src="{% static 'gamas/GamaAlta.jpeg' %}"
                         alt="Imagen de bajo quinto gama alta"
                         class="w-full h-48 md:h-full object-cover">
                </div>
                <div class="md:w-2/3 p-4 flex flex-col justify-between">
                    <div>
                        <h3 class="text-lg font-semibold mb-2">Gama Alta</h3>
                        <p class="text-sm text-gray-500 mb-2">La mejor opcion para musicos con mucha experiencia</p>
                        <p class="text-gray-600 mb-2">$9,000+ MXN</p>
                    </div>
                </div>
           </div>
        </a>
    </div>
</div>
