{% load static %}
<nav class="bg-white text-black">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-start">
        <div class="hidden md:block">
          <div class="flex items-baseline space-x-4">
            <a href="/" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-black hover:text-white transition-colors duration-300">Inicio</a>
            <a href="/products" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-black hover:text-white transition-colors duration-300">Productos</a>
          </div>
        </div>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <div class="flex-shrink-0">
          <img class="h-10 w-auto" src="{% static 'header/logo-white.svg' %}" alt="Logo">
        </div>
      </div>
      <div class="flex-1 flex items-center justify-end">
        <div class="hidden md:block">
          <div class="flex items-baseline space-x-4">
            <a href="/about" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-black hover:text-white transition-colors duration-300">Acerca de</a>
          </div>
        </div>
        <div class="md:hidden">
          <button type="button" id="mobile-menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-black hover:bg-black hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Abrir menu principal</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="md:hidden hidden" id="mobile-menu">
    <div class="z-40 px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a href="/" class="block px-3 py-2 rounded-md text-base hover:bg-black hover:text-white font-medium transition-colors duration-300">Inicio</a>
      <a href="/products" class="block px-3 py-2 rounded-md text-base font-medium hover:bg-black hover:text-white transition-colors duration-300">Productos</a>
      <a href="/about" class="block px-3 py-2 rounded-md text-base font-medium hover:bg-black hover:text-white transition-colors duration-300">Acerca de</a>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    mobileMenuButton.addEventListener('click', function() {
      mobileMenu.classList.toggle('hidden');
      mobileMenuButton.setAttribute('aria-expanded', mobileMenu.classList.contains('hidden') ? 'false' : 'true');
    });
  });
</script>
